body {
    background-color: black;
    color: #FFF;
    font-family: "Oxanium", cursive;
    height:  100vh;
}

.personagem-selecionado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.informacoes-personagem {
    width: 483px;
} 

.nome-personagem {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.3em;
    line-height: 25px;
    text-transform: uppercase;
    border-bottom: 2px solid #47F4FF
}

.descricao-personagem {
    text-align: center;
    font-weight: 400;
    padding: 20px 30px;

}

.personagem-grande {
    width: 429px;
}